<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--数据库联接字符串-->
    <add key="image" value="Wave.ssk" />
    <!--显示登录界面标题-->
    <add key="title" value="会员系统登陆" />
    <!--显示登录界面版本标题-->
    <add key="version" value="会员系统v1.0" />
    <!--显示关于界面图片显示-->
    <add key="AboutImage" value="01.jpg" />
    <!--是否显示登录界面密码找回按钮(0:隐藏 1:显示)-->
    <add key="ButtonShow" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="nLevel" value="50" />
    <add key="mLevel" value="100" />
    <add key="tLevel" value="150" />
    <add key="nDis" value="9" />
    <add key="mDis" value="8" />
    <add key="tDis" value="7" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
      <!--<add name="Transaction" connectionString="data source=(LocalDB)\v12.0;attachdbfilename=|DataDirectory|\BookSystemDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <add name="Transaction" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\BookSystemDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>